<a class="skip-link" href="#main-content">Skip to content</a>
<div class="university-bar">
  <div class="site-width university-bar-inner">
    <a class="university-logo" href="https://www.utoronto.ca/"><img src="images/uoft_logo_white.png" width="435" height="177" alt="University of Toronto"></a>
    <a class="department-link" href="https://web.cs.toronto.edu/">Department of Computer Science</a>
  </div>
</div>
<header class="site-header">
  <div class="site-width header-inner">
    <a class="site-name" href="index.html">Theory Group</a>
    <button class="menu-toggle" type="button" aria-expanded="false" aria-controls="site-navigation" hidden>Menu</button>
    <nav class="site-nav" id="site-navigation" aria-label="Main navigation">
      <a href="index.html">Home</a>
      <details class="people-menu">
        <summary>People</summary>
        <ul class="people-submenu">
          <li><a href="faculty.html">Faculty and Staff</a></li>
          <li><a href="postdocs_visitors.html">Postdocs and Visitors</a></li>
          <li><a href="students.html">Students</a></li>
          <li><a href="alumni.html">Alumni</a></li>
        </ul>
      </details>
      <a href="research.html">Research</a>
      <a href="events.html">Events</a>
      <a href="courses.html">Courses</a>
      <a href="positions.html">Join us</a>
    </nav>
  </div>
</header>
